# Model building

In [1]:
import pandas as pd
import sys
sys.path.append('/home/sachin/DSP/dsp-anandhu-krishna')

from house_prices.train import build_model

training_data_df = pd.read_csv('../data/train.csv')
model_performance_dict = build_model(training_data_df)
print(model_performance_dict)

top_5_categorical_features is  ['Neighborhood', 'Exterior2nd', 'Exterior1st', 'SaleType', 'HouseStyle']
 features Dictionary saved to /home/sachin/DSP/dsp-anandhu-krishna/models/features_dictionary.json
Encoder and Scaler saved to /home/sachin/DSP/dsp-anandhu-krishna/models
Model saved to /home/sachin/DSP/dsp-anandhu-krishna/models/model.joblib
{'rmsle_score': 0.01, 'MSE': 706354207.2513262, 'RMSE': 26577.32505823952, 'MAE': 17273.834853916953, 'R^2': 0.9079107995968321}

# Model inference

In [2]:
import sys
import pandas as pd
sys.path.append('/home/sachin/DSP/dsp-anandhu-krishna')
from house_prices.inference import make_predictions

user_data_df = pd.read_csv('../data/test.csv')
predictions = make_predictions(user_data_df)
predictions

        id  pred_sales_price
0     1461     119319.164062
1     1462     142304.906250
2     1463     181756.421875
3     1464     186675.765625
4     1465     201736.968750
...    ...               ...
1454  2915      69565.773438
1455  2916      82225.914062
1456  2917     175976.859375
1457  2918     115504.906250
1458  2919     243123.000000

[1459 rows x 2 columns]